<div class="row animated fadeIn fast">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <input  type="text"
                        class= "form-control"
                        placeholder="Search ..." 
                        (keyup)="buscar(txtInputTermino.value)"
                        #txtInputTermino/>
            </div>
        </div>
    </div>
</div>

<div class="row animated fadeIn fast" *ngIf="cargando">
    <div class="col-12">

        <div class="alert alert-info text-center">
          <h4 class="alert-heading">Chargin</h4>
          <i class="fa fa-spin fa-refresh fa-2x"></i>
          <p class="mb-0">Please, waith!</p>
        </div>
    </div>
</div>


<!-- DESPLIEGUE DE INFORMACIÓN DE USUARIOS -->
<div class="row fadeIn" *ngIf="!cargando"> 
    <div class="col-12">
    <div class="card">
    <div class="card-body">
        <h4 class="card-title">Users ({{ totalUsuarios }}) </h4>
        <h6 class="card-subtitle">Registered Users</h6>
        <!-- <button class="btn btn-success" (click)="nuevoUsuario = true" >Add User</button> -->

<!-- Button trigger modal -->
<button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModalCenter">
    <i class="mdi mdi-account-plus"></i>
    New User
  </button>
  <br><br>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-body">
          
            <!-- ============================================================== -->
            <!-- Main wrapper - style you can find in pages.scss -->
            <!-- ============================================================== -->
            <section id="wrapper" 
                    class="login-register login-sidebar fadeIn" 
                    style="background-image:url(../assets/images/background/login-register.jpg);"
                    *ngIf="nuevoUsuario">
                <div class="login-box card">
                    <div class="card-body">
                        <form class="form-horizontal form-material" 
                                id="loginform" 
                                autocomplete="off"
                                [formGroup]="registerForm"
                                (ngSubmit)="crearUsuario()">
                                <a href="javascript:void(0)" class="text-center db"><img src="./assets/images/logo-dark-text.png" alt="Home"  width="20%"/></a>
                                <h2 class="text-center"> <b> New User </b></h2>
                                <br><br>
                            <div class="form-group m-t-20">
                                <div class="col-xs-12">
                                    <input class="form-control"
                                        type="text" 
                                        required="" 
                                        placeholder="Name"
                                        formControlName="nombre">
                                </div>
                            </div>
                            <div class="form-group ">
                                <div class="col-xs-12">
                                    <input class="form-control border-primary" type="text" required="" placeholder="Email" formControlName="email">
                                </div>
                            </div>
                            <div class="form-group ">
                                <div class="col-xs-12">
                                    <input class="form-control" type="password" required="" placeholder="Password" formControlName="password">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <input class="form-control" type="password" required="" placeholder="Confirm Password"  formControlName="password2">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col text-danger">
                                    <p *ngIf="campoNoValido('nombre')">* Name is required </p>
                                    <p *ngIf="campoNoValido('email')">* Email is required </p>
                                    <p *ngIf="campoNoValido('password')">* Password is required </p>
                                    <p *ngIf="contraseniasNoValidas()">* Passwords must be the same </p>
                                    <p *ngIf="aceptaTerminos()">* Must accept terms </p>
                                </div>
                            </div>
                            <div class="form-group text-center m-t-20">
                                <div class="col-xs-12">
                                    <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">
                                        <i class="mdi mdi-account-plus"></i>
                                        Add User
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
            <!-- ============================================================== -->
            <!-- End Wrapper -->
            <!-- ============================================================== -->

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">
            <i class="mdi mdi-close"></i>  
            Close
            </button>
        </div>
      </div>
    </div>
  </div>


        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr class="text-center">
                        <th class="w100">Avatar</th>
                        <th>Email</th>
                        <th>Name</th>
                        <th class="w100">Role</th>
                        <th class="w100">Auth</th>
                        <th class="w100">Active</th>
                        <th class="text-nowrap w100">Action</th>
                    </tr>
                </thead>
                <tbody>            
                    <tr  *ngFor="let user of usuarios">
                        <td class="text-center"> <img [src]="user.getImage" alt="Avatar de Usuario" class="avatar"> </td>
                        <td> {{ user.email }} </td>
                        <td> {{ user.nombre }} </td>
                        <td> <select class="form-control">
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                        </select> {{ user.role }} </td>
                        <td><span class="label label-success"> Email </span> </td>
                        <td> {{ user.activo }} </td>
                        
                        <td class="text-nowrap text-center">
                            <a data-toggle="tooltip" data-original-title="Edit"> <i class="fa fa-pencil text-inverse m-r-10"></i> </a>
                            <a data-toggle="tooltip" data-original-title="Close" (click)="eliminarUsuario(user)"> <i class="fa fa-close text-danger"></i> </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div *ngIf="txtInputTermino.value.length === 0">
            <button (click)="cambiarPagina(-5)" class="btn btn-secondary">Previous</button>
            &nbsp;
            {{ desde + 1 }} - 

            <label *ngIf="((desde + 5) > totalUsuarios)">
                {{ totalUsuarios }}
            </label>
            <label *ngIf="!((desde + 5) > totalUsuarios)">
                {{ desde + 5 }}
            </label>
            &nbsp;
            <button  (click)="cambiarPagina(5)" class="btn btn-secondary">Next</button>
        </div>
    </div>
</div>
</div>
</div>