
<div class="row animated fadeIn fast">
    <div class="col-12">
        <div class="card" >
            <div class="card-body" >
                <div cdkDropList cdkDropListOrientation="horizontal" class="center-text-cards">
                    <div class="card-mesas bg-primary p-3 text-center text-white cursor card-align" *ngFor="let mesa of mesas" data-toggle="modal" data-target="#modalProductos" (click)="setNumeroMesa(mesa.no)" cdkDrag>
                    <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
                    <h3 class="card-title text-white">Mesa</h3>
                        <h1 class="text-white"><b> {{ mesa.no }} </b></h1>
                        <footer>
                            <small>
                                {{ mesa.sillas }} sillas
                            </small>
                        </footer>
                    </div>
                </div>          
            </div>
        </div>
    </div>
</div>


  
  <!-- Modal -->
  <div class="modal fade" id="modalProductos" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="max-width:80%;" role="document">
      <div class="modal-content">
        
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Productos</h5>
          
        </div>
        <div class="modal-body">
            <nav class="nav nav-pills nav-justified nav-fill nav-productos">
                <a class="nav-item nav-link active cursor" *ngIf="modalOpcion" (click)="modalProductos(true)">Bebidas Calientes</a>
                <a class="nav-item nav-link cursor" *ngIf="!modalOpcion" (click)="modalProductos(true)">Bebidas Calientes</a>
                <a class="nav-item nav-link active cursor" *ngIf="!modalOpcion" (click)="modalProductos(false)">Bebidas Frias</a>
                <a class="nav-item nav-link cursor" *ngIf="modalOpcion" (click)="modalProductos(false)">Bebidas Frias</a>
                <a class="nav-item">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                </a>
            </nav>

            <br>

            <!-- BEBIDAS CALIENTES -->
            <div class="jumbotron">
                <div class="row">
                  <div class="col-6">
                  
            
                    <div class="card" >
                        <div class="card-body" >
                            <div *ngFor="let producto of productos; index as i" class=" p-3 card-align" >
                                <div *ngIf="producto.categoria == 'CAFE' && modalOpcion">
                                    <div class="bg-primary p-3 text-center text-white cursor card-align" (click)="agregarAPedido(producto)">                                
                                        <h2 class="text-white"><b> {{ producto.descripcion }} </b></h2>
                                        <footer>
                                            <h3 class="text-white">
                                                <b> Q. {{ producto.precio_venta }} </b>
                                            </h3>
                                            <small>
                                                Stock: {{ producto.stock }} <br>
                                                <b>{{ producto.presentacion }}</b>
                                            </small>
                                        </footer>                                
                                    </div>                            
                                </div>
                                <div *ngIf="producto.categoria == 'Pasteles' && !modalOpcion">
                                    <div class="bg-primary p-3 text-center text-white cursor card-align" (click)="agregarAPedido(producto)">
                                    
                                        <h2 class="text-white"><b> {{ producto.descripcion }} </b></h2>
                                        <footer>
                                            <h3 class="text-white">
                                                <b> Q. {{ producto.precio_venta }} </b>
                                            </h3>
                                            <small>
                                                Stock: {{ producto.stock }} <br>
                                                <b>{{ producto.presentacion }}</b>
                                            </small>
                                        </footer>   
                                    </div>                             
                                </div>
                            </div>    
                        </div>
                    </div>
            </div>
            

        <div class="col-6">
            <div class="card">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Actions</th>
                            <th>Quantity</th>
                            <th>Product</th>
                            <th>Size</th>
                            <th>Unit Price</th>
                            <th>Sub Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="table-success" *ngFor="let pedido of pedidos; index as i">
                            <td>
                                <a data-toggle="tooltip" data-original-title="Remove" class="cursor" (click)="eliminarProductoDePedido(pedido)"> <i class="fa fa-close text-danger"></i> </a>
                            </td>

                            <td class="justify-content">
                                <a data-toggle="tooltip" data-original-title="Decrease" class="cursor" (click)="setCantidadProducto('-1', pedido)"> <i class="fa fa-minus-square text-success"></i> </a>
                                {{ pedido.cantidad }}
                                <a data-toggle="tooltip" data-original-title="Increase" class="cursor" (click)="setCantidadProducto('+1', pedido)"> <i class="fa fa-plus-square text-success"></i> </a>
                            </td>
                            
                            <td> {{ pedido.descripcion }}   </td>
                            <td> {{ pedido.presentacion }} </td>
                            <td> Q. {{ pedido.precio_venta }} <small>(c/u)</small></td>
                        
                            <td>
                                Q. {{ pedido.cantidad * pedido.precio_venta }}
                            </td>
                            
                        </tr>
                        <tr >
                            <td></td>
                            <td></td>
                            <td *ngFor>
                                <h2>Total: Q. 0.00 </h2>
                            </td>
                        </tr>
                        
                    </tbody>
                    
                </table>
                
            </div>
            <a class="btn btn-success btn-lg active text-white" role="button" (click)="guardarTablas()">Save Table</a>
        </div>
      </div>
    </div>

        </div>

      </div>
    </div>
  </div>