<div class="row animated fadeIn fast">
    <div class="col-12">
        <div class="card text-justified">
            <div class="card-body" >
                <div cdkDropList cdkDropListOrientation="horizontal" class="center-text-cards">
                    <div class="card-llevar bg-success p-3 text-center text-white cursor card-align" data-toggle="modal" data-target="#modalLlevar" >

                            <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
                            <h3 class="card-title text-white">Deliveries</h3>
                            <h1 class="text-white"><b> PARA LLEVAR </b></h1>
                            <footer>
                                <small *ngIf="noPedido < 1">
                                    No hay pedidos
                                </small>
                                <small *ngIf="noPedido == 1">
                                    {{ noPedido }} pedido
                                </small>
                                <small *ngIf="noPedido > 1">
                                    {{ noPedido }} pedidos
                                </small>
                            </footer>
                    </div>
                </div>          
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalLlevar" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="max-width:80%;" role="document">
        <div class="modal-content">

        <div class="modal-header">
            <h2 class="modal-title" id="exampleModalLongTitle"><b>Pedidos para llevar</b></h2>
        </div>

        <div class="modal-body">

                <button class="btn btn-info btn-md-6 btn-block text-uppercase waves-effect waves-light cursor" *ngIf="!nuevoPedido" (click)="agregarPedido()">
                    Add delivery
                </button>

                <div class="fade-in" *ngIf="nuevoPedido">
                    <input type="text" class="form-control form-control-line" value="Name for Delivery" #nombreDelivery>
                    <br>
                    <button class="btn btn-success btn-md-6 btn-block text-uppercase waves-effect waves-light cursor" (click)="crearNuevoPedido(nombreDelivery.value)">
                        Aceptar Name
                    </button>
                </div>

                <button class="btn btn-danger btn-md-6 btn-block text-uppercase waves-effect waves-light cursor" (click)="cancelarPedido()">
                    Cancel delivery
                </button>

                <!-- No existen pedidos  -->
                <div class="card fade-in" *ngIf="mostrarPedidos && pedidos.length == 0"> 
                    <div class="card-body text-justified" >
                        <div class="bg-info p-3 text-center text-white card-align">                                
                            <h2 class="text-white"><b> No existen pedidos </b></h2>
                        </div>                         
                    </div>                               
                </div>

                <!-- Despliega la Informacion basisca del Pedido (nombre, Numero, etc) -->
                <div class="card fade-in" *ngIf="mostrarPedidos && pedidos.length != 0">  
                    <div class="card-body text-justified" >
                        <div *ngFor="let pedido of pedidos" class=" p-3 card-align" (click)="abrirPedido(pedido)">
                                
                                <div class="bg-info p-3 text-center text-white cursor card-align">                                 
                                    <h4 class="text-white"><b> <small>Pedido {{ pedido.pedidoNo }}</small> </b></h4>
                                    <footer>
                                        <h2 class="text-white">
                                            <b> <small>a nombre de:</small><br> {{ pedido.nombreCliente }} </b>
                                        </h2>
                                    </footer> 
                                    <b> Q. {{ pedido.total }} </b>
                                </div>
                        </div>                               
                    </div>                               
                </div>

                <!-- Despliega el Pedido  -->
                <div class="jumbotron" *ngIf="mostrarPedido">
                    <br>
                    <h2 class="text-justified">Pedido de: <b>{{ nombreCliente }}</b> </h2>

                    <div class="jumbotron">
                        <div class="row">

                            <!-- Despliega los Productos en la BD-->
                            <div class="col-6">
                    
                                <div class="card">
                                    <div class="card-body text-justified" >
                                        <div *ngFor="let producto of productos" class=" p-3 card-align" >
                                                
                                                <div class="bg-info p-3 text-center text-white cursor card-align" (click)="agregarProductoAPedido(producto)">                                
                                                    <h2 class="text-white"><b> {{ producto.descripcion }} </b></h2>
                                                    <footer>
                                                        <h3 class="text-white">
                                                            <b> Q. {{ producto.precio_venta }} </b>
                                                        </h3>
                                                        <small>
                                                            Stock: {{ producto.stock }} <br>
                                                            <b>{{ producto.presentacion }}</b>
                                                        </small>
                                                    </footer>                                
                                                                            
                                            </div>
                                        </div>    
                                    </div>
                                </div>
        
                                
                                <div class="login-box card">
                                    <div class="card-body" *ngIf="factura && habilitaBoton">
                                        
        
                                    <form 
                                            class="form-horizontal form-material" 
                                            id="loginform" 
                                            autocomplete="off"
                                            [formGroup]="facturaForm"
                                            (ngSubmit)="generarFactura()">
                                            <h2 class="text-center"> <b> New Bill </b></h2>
                                            <br><br>
        
                                        <div class="form-group m-t-20">
                                            <div class="col-xs-12">
                                                <input class="form-control"
                                                    type="number" 
                                                    required="" 
                                                    placeholder="NIT"
                                                    formControlName="nit"
                                                    (keyup)="getUser(txtInputTermino.value)"
                                                    #txtInputTermino>
                                            </div>
                                        </div>
                                        <div class="form-group ">
                                            <div class="col-xs-12">
                                                <input class="form-control border-primary" type="text" required="" placeholder="Name" formControlName="nombre">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col text-danger">
                                                <p *ngIf="campoNoValido('nit')">* NIT is required </p>
                                                <p *ngIf="campoNoValido('nombre')">* Name is required </p>
                                            </div>
                                        </div>
                                        <div class="form-group text-center m-t-20">
                                            <div class="col-xs-12">
                                                    <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light cursor" type="submit">
                                                        <i class="mdi mdi-account-edit"></i>
                                                        Save Bill
                                                    </button>
                                                    <br><br>
                                                    <a class="btn btn-outline-danger btn-lg active text-white" role="button" (click)="factura = !factura;">Cancelar</a>
                                            </div>
                                        </div>
                                    </form>

                                </div>
        
                                </div>
                            </div>

                            <!-- Despliega el Pedido seleccionado  -->
                            <div class="col-6">

                                <!-- Productos de Pedido -->
                                <div class="card">
                                    <table class="table form-material">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th class="w50">Quantity</th>
                                                <th class="w250">Product</th>
                                                <th>Size</th>
                                                <th>Unit Price</th>
                                                <th>Sub Total</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="table-success" *ngFor="let pedido of productosPedidosTemp">
                                                <td class="text-justified">
                                                    <a data-toggle="tooltip" data-original-title="Remove" class="cursor" (click)="eliminarProductoDePedido(pedido)"> <i class="fa fa-close text-danger"></i> </a>
                                                </td>
                
                                                <td class="justify-content">
                                                    <a data-toggle="tooltip" data-original-title="Decrease" class="cursor" (click)="actualizaCantidadProducto('-1', pedido)"> <i class="fa fa-minus-square text-success"></i> </a>
                                                    {{ pedido.cantidad }}
                                                    <a data-toggle="tooltip" data-original-title="Increase" class="cursor" (click)="actualizaCantidadProducto('+1', pedido)"> <i class="fa fa-plus-square text-success"></i> </a>
                                                
                                                </td>
                                                
                                                <td> {{ pedido.descripcion }}   </td>
                                                <td> {{ pedido.presentacion }} </td>
                                                <td> Q. {{ pedido.precio_venta }} <small>(c/u)</small></td>
                                            
                                                <td>
                                                    Q. {{ pedido.precio_venta * pedido.cantidad }}
                                                </td>
                                                
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div *ngFor="let pedido of pedidos">
                                        <h2 class="total" *ngIf="pedido.pedidoNo == indexPedidoActual"><b> Total: Q. {{ pedido.total }} </b></h2>
                                    </div>
                                </div>
                                
                                <!-- Botones Generar Factura, limpiar pedido  -->
                                <tr>
                                    <td> 
                                        <a class="btn btn-outline-success col-xs-4 active text-white" role="button" (click)="actualizarDatosMesas()" *ngIf="habilitaBoton">Generate Bill</a>
                                    </td>
                                    &nbsp;
                                    <td> 
                                        <a class="btn btn-outline-danger col-xs-4 active text-white" role="button" (click)="cancelarPedido()" *ngIf="habilitaBoton">Clean and Cancel Delivery</a>
                                    </td>
                                    &nbsp;
                                    <td> 
                                        <a class="btn btn-outline-danger col-xs-4 active text-white" role="button" (click)="cerrarPedido()">Close Delivery</a>
                                    </td>
                                </tr>

                            </div>

                        </div>
                    </div>
                </div>
        </div>
        </div>
    </div>
</div>
